<!-- footer -->
<container>
  <wrapper class="footer">
    <row>
      <columns small="12" large="5">
        <spacer size="45"></spacer>

        <p class="text-center">
          <small>
            *Syarat &amp; ketentuan seperti yang telah ditentukan

            <br />

            PT Roojai Insurance Agent &amp; PT Sompo Insurance Indonesia berizin dan diawasi oleh OJK
          </small>
        </p>

        <spacer size="30"></spacer>
      </columns>
    </row>
  </wrapper>
</container>
<!-- footer -->