<!-- footer -->
<container>
  <wrapper class="footer">
    <row>
      <columns small="10" large="6">
        <spacer size="45"></spacer>
        
        <p>
          <small>
            <strong>Lifepal Customer Service</strong><br />
            Phone: 021 3076 2309<br />
            WA (chat only): 0823 300 300 27<br />
            Email: support@lifepal.co.id
          </small>
        </p>
      </columns>

      <columns small="10" large="6">
        <spacer size="45"></spacer>
        
        <p>
          <small>
            <strong>Roojai Contact Center</strong><br />
            Phone: 021 5089 0821<br />
            Email: service@roojai.co.id
          </small>
        </p>
      </columns>
    </row>

    <spacer size="46"></spacer>

    <row>
      <columns small="12" large="5">
        <p class="text-center">
          <small>
            Syarat & ketentuan produk berlaku seperti yang sudah ditentukan

            <br />
            
            PT Anugrah Atma Adiguna & PT SOMPO Insurance Indonesia berijin dan diawasi oleh OJK.

            <br />

            &copy; 2025 PT Roojai Services Indonesia copyright
          </small>
        </p>

        <spacer size="30"></spacer>
      </columns>
    </row>
  </wrapper>
</container>
<!-- footer -->