<!-- usp -->
<container>
  <hr />

  <spacer size="61"></spacer>

  <row>
    <columns>
      <p class="text-center">
        <strong>
          Kenapa pilih Asuransi Kesehatan Individu Roojai?
        </strong>
      </p>
    </columns>
  </row>

  <row>
    <columns>
      <img
        src="https://www.roojai.co.id/EmailTemplate/v2/ipmi/icon-usp-network.png"
        alt="2000+ Jaringan Fasilitas Kesehatan di Seluruh Indonesia"
        width="96"
        height="96"
        class="mx-auto"
      />

      <spacer size="6"></spacer>

      <p class="text-center font-size-14px">
        2000+ Jaringan Fasilitas Kesehatan di Seluruh Indonesia 
      </p>
    </columns>

    <columns>
      <img
        src="https://www.roojai.co.id/EmailTemplate/v2/ipmi/icon-usp-coverage.png"
        alt="Perlindungan yang bisa disesuaikan"
        width="96"
        height="96"
        class="mx-auto"
      />

      <spacer size="6"></spacer>

      <p class="text-center font-size-14px">
        Perlindungan yang bisa disesuaikan 
      </p>
    </columns>

    <columns>
      <img
        src="https://www.roojai.co.id/EmailTemplate/v2/ipmi/icon-usp-network.png"
        alt="Dipercaya oleh  250.000+ pelanggan"
        width="96"
        height="96"
        class="mx-auto"
      />

      <spacer size="6"></spacer>

      <p class="text-center font-size-14px">
        Dipercaya oleh  250.000+ pelanggan 
      </p>
    </columns>
  </row>

  <spacer size="59"></spacer>
</container>
<!-- usp -->