<!-- usp -->
<container>
  <hr />

  <spacer size="61"></spacer>

  <row>
    <columns>
      <p class="text-center">
        <strong>
          Why Roojai Personal Health Insurance?
        </strong>
      </p>
    </columns>
  </row>

  <row>
    <columns>
      <img
        src="https://www.roojai.co.id/EmailTemplate/v2/ipmi/icon-usp-network.png"
        alt="2,000+ healthcare facilities nationwide in Indonesia"
        width="96"
        height="96"
        class="mx-auto"
      />

      <spacer size="6"></spacer>

      <p class="text-center font-size-14px">
        2,000+ healthcare facilities nationwide
        
        <br />
        
        in Indonesia
      </p>
    </columns>

    <columns>
      <img
        src="https://www.roojai.co.id/EmailTemplate/v2/ipmi/icon-usp-coverage.png"
        alt="Customizable coverage options"
        width="96"
        height="96"
        class="mx-auto"
      />

      <spacer size="6"></spacer>

      <p class="text-center font-size-14px">
        Customizable coverage options
      </p>
    </columns>

    <columns>
      <img
        src="https://www.roojai.co.id/EmailTemplate/v2/ipmi/icon-usp-network.png"
        alt="Trusted by 250,000+ customers"
        width="96"
        height="96"
        class="mx-auto"
      />

      <spacer size="6"></spacer>

      <p class="text-center font-size-14px">
        Trusted by
        
        <br />
        
        250,000+ customers
      </p>
    </columns>
  </row>

  <spacer size="59"></spacer>
</container>
<!-- usp -->