<!-- roojai rewards -->
<container>
  <row>
    <columns>
      <callout class="nps">
        <row>
          <columns small="fifth">
            <a href="#">
              <img src="https://www.roojai.co.id/EmailTemplate/v2/common/icon-rate-10-20221205.png" alt="icon rating - 10" />
            </a>
          </columns>

          <columns small="fifth">
            <a href="#">
              <img src="https://www.roojai.co.id/EmailTemplate/v2/common/icon-rate-9-20221205.png" alt="icon rating - 9" />
            </a>
          </columns>

          <columns small="fifth">
            <a href="#">
              <img src="https://www.roojai.co.id/EmailTemplate/v2/common/icon-rate-8-20221205.png" alt="icon rating - 8" />
            </a>
          </columns>

          <columns small="fifth">
            <a href="#">
              <img src="https://www.roojai.co.id/EmailTemplate/v2/common/icon-rate-7-20221205.png" alt="icon rating - 7" />
            </a>
          </columns>

          <columns small="fifth">
            <a href="#">
              <img src="https://www.roojai.co.id/EmailTemplate/v2/common/icon-rate-6-20221205.png" alt="icon rating - 6" />
            </a>
          </columns>
        </row>

        <row>
          <columns small="fifth">
            <a href="#">
              <img src="https://www.roojai.co.id/EmailTemplate/v2/common/icon-rate-5-20221205.png" alt="icon rating - 5" />
            </a>
          </columns>

          <columns small="fifth">
            <a href="#">
              <img src="https://www.roojai.co.id/EmailTemplate/v2/common/icon-rate-4-20221205.png" alt="icon rating - 4" />
            </a>
          </columns>

          <columns small="fifth">
            <a href="#">
              <img src="https://www.roojai.co.id/EmailTemplate/v2/common/icon-rate-3-20221205.png" alt="icon rating - 3" />
            </a>
          </columns>

          <columns small="fifth">
            <a href="#">
              <img src="https://www.roojai.co.id/EmailTemplate/v2/common/icon-rate-2-20221205.png" alt="icon rating - 2" />
            </a>
          </columns>

          <columns small="fifth">
            <a href="#">
              <img src="https://www.roojai.co.id/EmailTemplate/v2/common/icon-rate-1-20221205.png" alt="icon rating - 1" />
            </a>
          </columns>
        </row>
      </callout>
    </columns>
  </row>
</container>
      