<!-- roojai points reward  -->
<container>
  <row>
    <columns>
      <button class="points-reward">
        <spacer size="11"></spacer>

        <h3>
          Roojai Rewards
        </h3>

        <spacer size="11"></spacer>

        <p>
          Dapatkan <strong>{reward_points}</strong> poin Roojai Rewards dengan nilai setara Rp<strong>{reward_value}</strong></strong><span class="text-primary">*</span> setelah polismu berhasil diaktifkan! Tukarkan poinnya untuk voucher Tokopedia &amp; Pertamina.
        </p>

        <spacer size="11"></spacer>

        <img src="https://www.roojai.co.id/EmailTemplate/v2/car/body-voucher-pertamina-tokopedia-20230113.jpg" alt="Tukarkan poinnya untuk voucher Tokopedia & Pertamina" />

        <spacer size="11"></spacer>

        <p>
          <small>
            <em class="text-secondary">
              <span class="text-primary">*</span>Poin Roojai Rewards akan diberikan setelah pembayaran penuh berhasil diterima dan polis telah diaktifkan. Jika kamu memilih pembayaran cicilan, poin Roojai Rewards akan diberikan setelah semua 6 pembayaran telah diselesaikan.
            </em>
          </small>
        </p>

        <spacer size="10"></spacer>
      </button>
    </columns>
  </row>
</container>
<!-- roojai points reward  -->